.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	& button {
		background-color: blue;
		border-radius: 10px;
		box-shadow: 5px 5px 15px 5px #ccc;
		color: white;
		cursor: pointer;
		font-size: 2rem;
		margin: 1rem;
		padding: 0.5rem 1rem;
	}

	& .board {
		background-color: transparent;
		border-radius: 10px;
		box-shadow: 0 0 30px 5px #ccc;
		flex-direction: column;
		height: auto;
		width: auto;
		margin: 1rem;
	}
}
