button {
	background-color: blue;
	border-radius: 10px;
	box-shadow: 5px 5px 15px 5px #ccc;
	color: white;
	cursor: pointer;
	font-size: 2rem;
	margin: 1rem;
	padding: 0.5rem 1rem;
}

.scrambleButtonsHeader {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}
