.tile {
	background-color: #eeecdf;
	border: 1px inset #454955;
	cursor: grabbing;
	display: inline-block;
	height: 95%;
	position: relative;
	width: 24%;

	p {
		font-size: 3rem;
		text-align: center;
		line-height: 1rem;
	}
}

.emptyTile {
	background-color: black;
	width: 24%;
}
