.tile {
	background-color: #eeecdf;
	border: 1px inset #454955;
	cursor: grabbing;
	display: inline-block;
	height: 95%;
	position: relative;
	width: 24%;

	p {
		font-size: 3rem;
		text-align: center;
		line-height: 1rem;
	}
}

.emptyTile {
	background-color: black;
	width: 24%;
}

.west {
	left: -124px;
	transition-property: left;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.east {
	right: -125px;
	transition-property: right;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.north {
	top: -125px;
	transition-property: top;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.south {
	bottom: -124px;
	transition-property: bottom;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
